<div class="bootstrap-wrapper">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
        <h1>Registration Here</h1>
        <form (ngSubmit)="onSubmit()" class="row">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>UserName</mat-label>
                <input required name="username" [(ngModel)]="userData.username" type="text" matInput />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input required name="password" [(ngModel)]="userData.password" type="password" matInput />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input required name="email" [(ngModel)]="userData.email" type="email" matInput />
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Role</mat-label>
                <input required name="role" [(ngModel)]="userData.rol" type="text" matInput />
            </mat-form-field>

            <div class="container text-center">
                <button type="submit" mat-flat-button color="primary">Submit</button>
                <button style="margin-left: 12px;" type="reset"  mat-flat-button color="warn">Reset</button>
            </div>
        </form>

            </div>
        </div>
    </div>
</div>
