<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img style="width: 100px;" class="img-fluid mt" src="assets/login.jpeg" alt="">
                </div>
                <h1 class="text-center">Login Here !!</h1>

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input required name="username" [(ngModel)]="creadential.username" type="text" matInput />
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required name="password" [(ngModel)]="creadential.password" type="password" matInput />
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-flat-button color="primary">Login</button>
                        <button style="margin-left: 12px;" type="reset"  mat-flat-button color="warn">Reset</button>
                    </div>
                </form>

                <h3 style="margin-top: 20px;" class="text-center">or</h3>
                <hr>
                
                 <!-- <div style="margin-top: 20px;" class="container text-center">
                <a mat-flat-button routerLink="/signup" color="primary">Login</a>
                 </div> -->

                    <div style="margin-top: 20px;" class="container text-center">
                        <button mat-flat-button color="primary" routerLink="/signup">Registration</button>
                    </div>

                    <!-- <h1>{{successMsg}}</h1> -->

            </div>
        </div>
    </div>
</div>